/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

$primary: rgb(111, 0, 255);

body {
  margin: 0;
  font-family: "Nunito", "sans-serif";
  font-size: 18px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: $primary;
  padding: 1em 0;

  a {
    color: white;
    text-decoration: none;
  }

  a.logo {
    font-weight: bold;
  }

  nav {
    float: right;

    ul {
      list-style-type: none;
      margin: 0;
      display: flex;

      li a {
        padding: 1em;

        &:hover {
          background: darken($primary, 10%);
        }
      }
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  th {
    background-color: #4caf50;
    color: white;
  }
}

h1 {
  margin-top: 2em;
}

.btn-remove {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  border-radius: 4px;
  cursor: pointer;
}

// Form
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

div.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

div.info {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
